/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600,700&display=swap');

/* common styles or utiites */
body {
    margin: 0;
    background: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
h2, h3, p {
    margin: 0;
    line-height: 30px;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

/* ----------------------
   header-section starts
   ---------------------- */
   .header-section {
       background-color: #562EFF;
       padding: 30px 0;
       display: flex;
       justify-content: center;
   }
   .header-section .header-flex {
        width: 870px;
        display: flex;
        justify-content: space-between;
   }
   .header-section .logo-area {
    display: flex;
    align-items: center;
}
.header-section .logo-area .logo {
    width: 40px;
    margin-right: 15px;
}
.header-section .logo-area span {
    font-size: 24px;
    font-weight: 500;
    color: white;
}
nav>ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style: none;
    padding: 10px 20px;
}
nav ul li a {
    color: white;
}
nav ul li:hover a {
    border-bottom: 2px solid white;
}
nav ul .active a {
    border-bottom: 2px solid white;
}
nav .profile {
    width: 51px;
}
nav .profile img {
    border-radius: 50%;
}

/* ------------------
    main area starts
   ----------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* top player starts */
.container {
    width: 870px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 7px;
}
.top-players, .top-blogs, .lates-courses {
    padding: 30px;
}
.section-title {
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 0;
    margin-bottom: 30px;
}
.player {
    display: flex;
    align-items: center;
}
.player-profile {
    width: 56px;
    margin-right: 15px;
}
h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}
hr {
    border: none;
    border-top: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/* Top blog starts */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog {
    display: flex;
    width: 410px;
}
.top-blogs .thumbneil {
    margin-right: 16px;
}
.top-blogs .thumbneil {
    width: 177px;
}
.top-blogs .blog-title {
    font-size: 20px;
}
.top-blogs .author {
    color: #9F9F9F;
}
.top-blogs .author a {
    text-decoration: none;
    color: 562EFF;
}

/* ----------------------
    Top courses section 
-------------------------*/
.lates-courses .courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.lates-courses .course {
    background-color: white;
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 12px;
}
.lates-courses .course-thumbneil {
    width: 224px;
    height: auto;
    margin-bottom: 25px;
}
.lates-courses .course-heading {
    font-size: 20px;
}
.lates-courses .instructor a {
    text-decoration: none;
    font-family: roboto;
    font-size: 14px;
    color: #ED6B4F;
}
.lates-courses .course-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lates-courses .rating .filled {
    color: #FFC014;
    font-size: 14px;
}
.lates-courses .rating .empty {
    color: #AEAEAE;
    font-size: 14px;
}
.lates-courses .rating .number {
    color: #A2A2A2;
    margin-left: 10px;
}
.lates-courses .duration {
    background-color: #FEE5DF;
    padding: 5px;
    border-radius: 14px;
    display: flex;
    align-items: center;
}
.lates-courses .duration .clock {
    font-size: 20px;
    color: #ED6B4F;
    margin-right: 5px;
}
.lates-courses .duration .time {
    font-size: 15px;
    color: #ED6B4F;
}